h1 {
  text-align: center;
}

.avatar.loading {
  display: none;
}

.avatar {
  width: 100%;
}

.learn-more {
  text-align: center;
}

.multiple-choice-question p {
  text-align: center;
}

.multiple-choice-question button {
  width: 100%;
}
