h1 {
  text-align: center;
}

.learn-more {
  text-align: center;
}

/* The U.S. Web Design Standards apply marker stylings via li:before
 * rather than list-style-type, so disabling them is a bit unconventional. */
.learn-more li:before {
  content: '';
}

.learn-more ul {
  width: 100%;
}

.multiple-choice-question p {
  text-align: center;
}

.multiple-choice-question button {
  width: 100%;
}

.avatar-holder.loading img {
  display: none;
}

/* http://andyshora.com/css-image-container-padding-hack.html */

.avatar-holder {
  padding-bottom: 100%;
  height: 0;
  width: 100%;
  position: relative;
}

.avatar-holder img {
  position: absolute;
  width: 100%;
}

/* Center the 16x16 throbber in the avatar area. */

.avatar-holder svg {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-in;
  transition-delay: 150ms;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 150ms ease-in;
}

.multiple-choice-question-holder {
  position: relative;
}

.multiple-choice-question-holder .multiple-choice-question {
  position: absolute;
  top: 0;
  left: 0;
}
